@charset "utf-8";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: #fefefe;
}

#index {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #ddd;
}

#index:hover {
  background-color: yellowgreen;
  border-color: orange;
  color: black;
}

dt {
  width: 200px;
  border-left: 5px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px 10px;
  margin-bottom: 10px;
  user-select: none;
}
dt:hover {
  color:darkred;
  cursor: pointer;
}
dd {
  width: 400px;
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.5s, opacity 0.5s;
}


.show {
  max-height: 400px;
  opacity: 1;
}